<% flash.each do |key,value| %>
     <div style="color:#FF0000;font-size: 16px;"><%= value %></div>
<%end%>
<h1 id="introduction">Tweet Comments</h1>
<p>
  Comment on Tweets
</p>

<%#=render @micropost.parent %>



<%= form_for(@micropost) do |f|  %>
<%= f.hidden_field :parent_id %>

<div style="margin-left: 20px;padding-left: 20px;">
  <br/>
  <%= f.text_area :content,:cols=>75,:rows=>7%>

</div>

 <%=  render "layouts/stats"%>
<div style="margin-left: 20px;padding-left: 20px;">
  <%=  f.submit "Post Tweet",:id=>"tweetbutton" %>
</div>

<%end%>

<br/>