<!-- ###### Header ###### -->

<div id="top"></div>

<div id="header">
   <%= image_tag("tweet.png", :alt => "Sample App", :width => 50, :height => 45,:class => "tweet_img") %>

   <span class="headerTitle">Welcome to Twitter!</span>
      <div class="headerLinks">
        <% if signed_in? %>
          <%= link_to "Profile", current_user %>|
        <%else%>
          <%= link_to "Home", root_path %>|
        <%end%>
        <% if signed_in? %>
          <%= link_to "Sign out", signout_path %>
        <%else%>
          <%= link_to "Sign in", signin_path %>
        <%end%>

      </div>
</div>
