<!-- ###### Header ###### -->

<div id="top"></div>

<div id="header">
   <%= image_tag("tweet.png", :alt => "Sample App", :width => 50, :height => 45,:class => "tweet_img") %>

  <% if signed_in? %>
    <span class="headerTitle">Twitter !</span>
  <%else%>
    <span class="headerTitle">Welcome to Twitter!</span>
  <%end%>
    
   
      <div class="headerLinks">
        <% if signed_in? %>
          <%= link_to "#{current_user.name}", current_user %>|
          <%= link_to "Post Tweets", statuspost_path  %>|
          <%= link_to "Settings", edit_user_path(current_user) %>|
          <%= link_to "Users", users_path %>|
        <%else%>
          <%= link_to "Home", root_path %>|
        <%end%>
        <% if signed_in? %>
          <%= link_to "Sign out", signout_path %>
        <%else%>
          <%= link_to "Sign in", signin_path %>
        <%end%>

      </div>
</div>
