<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "purplehaze" %>
    <title><%= title %></title>
    <%= csrf_meta_tag %>    
</head>

  <body>
    <%= render "layouts/headers" %>

      <div id="bodyText" class="round">
    
        <%= yield %>

      </div>
    
      <%= render "layouts/footers" %>
  </body>
</html>
