<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "custom" %>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
</head>

  <body>
    <%= render "layouts/headers" %>

      <div id="bodyText" class="round">
        
        <%= yield %>
        
      </div>
    
      <%= render "layouts/footers" %>
      
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>
